# macOS
.DS_Store

# ide
.project
.buildpath
.settings
.nbproject
.idea
!/.idea/inspectionProfiles/Project_Default.xml

# php-cs-fixer
.php_cs.cache
.php-cs-fixer.cache

# rector
/.phprector.cache

#
/.Build
/var
/config
